# Until Zeit officially makes a Flask builder, the following won't work...
# @liudonghua123's now-flask used to work, but we'll have to wait for an @now/flask builder
{
    "version": 2,
    "env": {
        "FLASK_USER": "TestUser",
        "FLASK_PASS": "TestUserPass",
        "FROM_EMAIL": "noreply@email.com",
        "TO_EMAIL": "example+portfolio@email.com",
        "SENDGRID_API_KEY": "Your_API_Key"
    },
    "builds": [
      { "src": "application.py", "use": "@liudonghua123/now-flask", "config": { "maxLambdaSize": "30mb" } }
    ],
    "routes": [
        { "src": "/.*", "dest": "/"}
      ]
  }